# Node.js
            /node_modules

            # Logs
            logs
            *.log
            npm-debug.log*

            # Angular build files
            /dist

            # ASP.NET Core
            bin/
            obj/